.pricingTable:hover {

  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.pricing-page {

  background-image: url("../image/inner-bg.jpg");
  background-size: cover;
  padding-top: 10%;
  padding-bottom: 10%;
  position: relative;
  z-index: 1
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: -1
}

.pricing-page h1 {

  color: #FFF;
  margin-bottom: 20px;
}

.pricing-page p {

  color: #FFF;
  line-height: 2
}

.section {

  padding-top: 10%;
}

.section h1 {
  margin-bottom: 20px;
}

.section p {
  color: #999;
  line-height: 2
}

.table {
  padding-top: 10%;
  padding-bottom: 10%;
}

.pricingTable {
  overflow: hidden;
  background-color: #FFF;
  border-bottom: 10px solid #fd6802;
  padding-bottom: 10px;
  text-align: center;
  position: relative;
  transition: all 0.3s ease 0s;
}

.pricingTable-header:before {
  content: "";
  background-color: #fd6802;
  width: 100%;
  height: 350px;
  transform: skewY(-20deg);
  top: -150px;
  position: absolute;
  left: 0;
  z-index: -1
}

.pricingTable-header {

  padding: 20px 20px 60px;
  position: relative;
  z-index: 0;
  text-align: left;
  color: #FFF;
}

.pricingTable-header .title {
  font-size: 30px;
  margin-bottom: 10px;
  text-transform: uppercase;
}


.pricingTable-header .sub-title {

  font-size: 16px;
  display: block;
  text-transform: uppercase;
}

.pricingTable-header .year {

  position: absolute;
  top: 30px;
  right: 20px;
  width: 80px;
  height: 55px;
  padding: 7px 0;
  background-color: #FFF;
  color: #fd6802;
  line-height: 20px;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  z-index: 1
}

.pricingTable-header .year:before,
.pricingTable-header .year:after {

  content: "";
  width: 58px;
  height: 58px;
  position: absolute;
  top: -30px;
  left: 40px;
  transform: translateX(-50%) scaleY(.5) rotate(45deg);
  background-color: #FFF;
  z-index: -1
}

.pricingTable-header .year:after {

  top: auto;
  bottom: -30px;
}


.price-value {
  display: inline-block;
  position: relative;
  width: 170px;
  height: 110px;
  border: 3px solid #fd6802;
  border-bottom: none;
  border-top: none;
  padding: 15px;
  z-index: 1
}

.price-value:before,
.price-value:after {
  content: "";
  position: absolute;
  width: 121px;
  height: 121px;
  top: -60px;
  left: 50%;
  transform: translateX(-50%) scaleY(.5) rotate(45deg);
  z-index: -1;
  border: 3px solid #fd6802;
  border-bottom: none;
  border-right: none
}

.price-value:after {
  border-bottom: 3px solid #fd6802;
  border-right: 3px solid #fd6802;
  border-top: none;
  border-left: none;
  top: auto;
  bottom: -60px;
}


.price-value .value {

  position: relative;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  border: 3px solid #fd6802;
  border-bottom: none;
  border-top: none;
  z-index: 1
}

.price-value .value:before,
.price-value .value:after {
  content: "";
  position: absolute;
  width: 95px;
  height: 95px;
  top: -48px;
  left: 50%;
  transform: translateX(-50%) scaleY(.5) rotate(45deg);
  z-index: -1;
  border: 3px solid #fd6802;
  border-bottom: none;
  border-right: none;
  background-color: #FFF
}

.price-value .value:after {
  border-bottom: 3px solid #fd6802;
  border-right: 3px solid #fd6802;
  border-top: none;
  border-left: none;
  top: auto;
  bottom: -48px;
}

.price-value .value .currency {

  display: inline-block;
  font-size: 30px;
  color: #fd6802;
  font-weight: 600
}

.price-value .value .amount {

  display: inline-block;
  font-size: 30px;
  color: #fd6802;
  font-weight: bold;
}

.price-value .value .amount span {
  display: inline-block;
  font-size: 30px;
  margin-top: -7px;
  vertical-align: top;
  font-weight: 600
}

.price-value .value .month {
  display: block;
  color: #fd6802;
  font-weight: 600;
  font-size: 17px;
}

.pricing-content li {
  text-align: left;
  padding: 15px;
  margin-top: 10px;
}

.pricingTable .pricing-content {
  padding: 50px 0 0 80px;
  margin-bottom: 20px;
}

.pricingTable .pricing-content li {
  padding: 7px 0;
  font-size: 16px;
  color: #808080;
  position: relative;
}

.pricingTable .pricing-content li:before,
.pricingTable .pricing-content li.disable:before {
  content: "";
  font-family: 'IcoMoon-Free';
  font-weight: 900;
  width: 25px;
  height: 25px;
  line-height: 25px;
  border-radius: 50%;
  background: #98c458;
  text-align: center;
  color: #fff;
  position: absolute;
  left: -50px;
}

.pricingTable .pricing-content li.disable:before {
  content: "";
  background: #fe6c6c;
}

.pricingTable .pricingTable-signup {
  display: inline-block;
  padding: 0px 20px;
  line-height: 50px;
  font-size: 22px;
  font-weight: 700;
  color: #fd6802;
  text-transform: capitalize;
  border: 2px solid #fd6802;
  margin: 0 auto 10px;
  transition: all 0.3s ease 0s;
}

.pricingTable .pricingTable-signup:hover {
  background: #fd6802;
  color: #fff;
  text-decoration: none
}

.pricingTable:hover {
  cursor: pointer;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.1);
  transform: scale(1.04);
}

@media (max-width:992px) {

  .pricing-page p {
    font-size: 14px
  }
}